[submodule "generative-art"]
	path = generative-art
	url = git@github.com:AddisonGoolsbee/cpsc334-generative-art.git
[submodule "wattage-warlords"]
	path = wattage-warlords
	url = git@github.com:AddisonGoolsbee/wattage-warlords.git
[submodule "blindfold-artists"]
	path = blindfold-artists
	url = git@github.com:AddisonGoolsbee/blindfold-art.git
